In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("insurance.csv")

In [3]:
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [4]:
df.shape

(1338, 7)

# Preprocessing the data

In [7]:
#Identifing the data 
df.dtypes

age           int64
sex          object
bmi         float64
children      int64
smoker       object
region       object
charges     float64
dtype: object

In [15]:
#differentiating the data set into character data and numeric data

In [16]:
df_num = df.select_dtypes(include=[np.number])

In [17]:
df_num.head()

   age     bmi  children      charges
0   19  27.900         0  16884.92400
1   18  33.770         1   1725.55230
2   28  33.000         3   4449.46200
3   33  22.705         0  21984.47061
4   32  28.880         0   3866.85520

In [18]:
df_car = df.select_dtypes(include=[object])

In [19]:
df_car.head()

      sex smoker     region
0  female    yes  southwest
1    male     no  southeast
2    male     no  southeast
3    male     no  northwest
4    male     no  northwest

In [21]:
#Checking how many null values are there in the both data sets

In [23]:
df_car.isnull().sum()

sex       0
smoker    0
region    0
dtype: int64

In [24]:
df_num.isnull().sum()

age         0
bmi         0
children    0
charges     0
dtype: int64

In [ ]:
#Converting Character data into Numeric data by using labelEncoder

In [26]:
#Importing Label Encoder library by using Sklearn.Preprocessing
from sklearn.preprocessing import LabelEncoder

In [27]:
le = LabelEncoder()

In [29]:
df_car = df_car.apply(le.fit_transform)

In [31]:
df_car.head()

   sex  smoker  region
0    0       1       3
1    1       0       2
2    1       0       2
3    1       0       1
4    1       0       1

In [ ]:
#Merging the Caracter data and numeric data by using concatination

In [32]:
df_final =pd.concat([df_num,df_car],axis=1)

In [33]:
df_final

      age     bmi  children      charges  sex  smoker  region
0      19  27.900         0  16884.92400    0       1       3
1      18  33.770         1   1725.55230    1       0       2
2      28  33.000         3   4449.46200    1       0       2
3      33  22.705         0  21984.47061    1       0       1
4      32  28.880         0   3866.85520    1       0       1
...   ...     ...       ...          ...  ...     ...     ...
1333   50  30.970         3  10600.54830    1       0       1
1334   18  31.920         0   2205.98080    0       0       0
1335   18  36.850         0   1629.83350    0       0       2
1336   21  25.800         0   2007.94500    0       0       3
1337   61  29.070         0  29141.36030    0       1       1

[1338 rows x 7 columns]

In [42]:
#Divide the entire data set into Test and train data set

In [87]:
x=df_final[['age','bmi','smoker']]

In [88]:
x.head()

   age     bmi  smoker
0   19  27.900       1
1   18  33.770       0
2   28  33.000       0
3   33  22.705       0
4   32  28.880       0

In [89]:
y=df_final[['charges']]

In [90]:
y.head()

       charges
0  16884.92400
1   1725.55230
2   4449.46200
3  21984.47061
4   3866.85520

In [91]:
from sklearn.model_selection import train_test_split

In [92]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [93]:
#Applying algoritham on the above data set

In [94]:
from sklearn.linear_model import LinearRegression

In [95]:
lr = LinearRegression()

In [96]:
lr.fit(x_train,y_train)

LinearRegression()

In [97]:
fit=lr.fit(x_train,y_train)

In [98]:
fit.score(x_train,y_train)

0.7433310980553467

In [99]:
lr.predict([[19,27.900,1]])

array([[25909.4678893]])