In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
from sklearn.preprocessing import LabelEncoder

In [3]:
df = pd.read_csv("dd.csv")

In [4]:
df

    Age  Outcome
0    50        1
1    31        0
2    32        1
3    21        0
4    33        1
5    30        0
6    26        1
7    29        0
8    53        1
9    54        1
10   30        0
11   34        1
12   57        0
13   59        1
14   51        1
15   32        1
16   31        1
17   31        1
18   33        0

In [5]:
df.head()

   Age  Outcome
0   50        1
1   31        0
2   32        1
3   21        0
4   33        1

In [6]:
df.head(5)

   Age  Outcome
0   50        1
1   31        0
2   32        1
3   21        0
4   33        1

In [8]:
df.isnull().sum()

Age        0
Outcome    0
dtype: int64

In [34]:
x = pd.factorize(df['Age'])[0].reshape(-1, 1)

In [35]:
x

array([[ 0],
       [ 1],
       [ 2],
       [ 3],
       [ 4],
       [ 5],
       [ 6],
       [ 7],
       [ 8],
       [ 9],
       [ 5],
       [10],
       [11],
       [12],
       [13],
       [ 2],
       [ 1],
       [ 1],
       [ 4]], dtype=int64)

In [12]:
y=df["Outcome"]

In [13]:
y

0     1
1     0
2     1
3     0
4     1
5     0
6     1
7     0
8     1
9     1
10    0
11    1
12    0
13    1
14    1
15    1
16    1
17    1
18    0
Name: Outcome, dtype: int64

In [20]:
from sklearn.model_selection import train_test_split

In [21]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [30]:
from sklearn.linear_model import LogisticRegression

In [31]:
log = LogisticRegression()

In [37]:
log.fit(x_train,y_train)

ValueError: Expected 2D array, got 1D array instead:
array=[59. 32. 31. 32. 54. 33. 33. 57. 29. 30. 51. 26.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.