In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv("playball.csv")

In [4]:
df.head

<bound method NDFrame.head of     DAY  OUTLOOK  TEMP  HUMIDITY  WIND  PLAYBOLL
0     1        1     1         1     0         1
1     2        1     1         1     1         1
2     3        2     1         1     0         0
3     4        3     2         1     0         0
4     5        3     3         0     0         0
5     6        3     3         0     1         1
6     7        2     3         0     1         0
7     8        1     2         1     0         1
8     9        1     3         0     0         0
9    10        3     2         0     0         0
10   11        1     2         0     1         0
11   12        2     2         1     1         0
12   13        2     1         0     0         0
13   14        3     2         1     1         1>

In [5]:
df.head()

   DAY  OUTLOOK  TEMP  HUMIDITY  WIND  PLAYBOLL
0    1        1     1         1     0         1
1    2        1     1         1     1         1
2    3        2     1         1     0         0
3    4        3     2         1     0         0
4    5        3     3         0     0         0

In [20]:
x=df.iloc[:,[0,1,2,3]].values

In [21]:
x

array([[ 1,  1,  1,  1],
       [ 2,  1,  1,  1],
       [ 3,  2,  1,  1],
       [ 4,  3,  2,  1],
       [ 5,  3,  3,  0],
       [ 6,  3,  3,  0],
       [ 7,  2,  3,  0],
       [ 8,  1,  2,  1],
       [ 9,  1,  3,  0],
       [10,  3,  2,  0],
       [11,  1,  2,  0],
       [12,  2,  2,  1],
       [13,  2,  1,  0],
       [14,  3,  2,  1]], dtype=int64)

In [18]:
y=df.iloc[:,[5]].values

In [19]:
y

array([[1],
       [1],
       [0],
       [0],
       [0],
       [1],
       [0],
       [1],
       [0],
       [0],
       [0],
       [0],
       [0],
       [1]], dtype=int64)

In [12]:
from sklearn.model_selection import train_test_split

In [13]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [25]:
from sklearn.preprocessing import StandardScaler
sc =  StandardScaler()
x_train=sc.fit_transform(x_train)
x_test = sc.fit_transform(x_test)

In [26]:
from sklearn.svm import LinearSVC

In [27]:
clf_Lsvm = LinearSVC()

In [28]:
clf_Lsvm.fit(x_train,y_train)

C:\Users\Admin\anaconda3\lib\site-packages\sklearn\utils\validation.py:73: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  return f(**kwargs)

LinearSVC()

In [29]:
svm=clf_Lsvm.predict(x_test)

In [30]:
from sklearn.metrics import  accuracy_score

In [31]:
accuracy_score(svm,y_test)

0.6