In [1]:
#importing Libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Reading CSV File 
df = pd.read_csv("KNN1.csv")

In [24]:
df.head()

   SWEIGHT  S HIG  TYPE
0       51    167     0
1       62    182     1
2       69    176     1
3       64    173     1
4       65    172     1

# Preprocessing

In [25]:
df.isnull().sum()

SWEIGHT    0
S HIG      0
TYPE       0
dtype: int64

In [26]:
df

   SWEIGHT  S HIG  TYPE
0       51    167     0
1       62    182     1
2       69    176     1
3       64    173     1
4       65    172     1
5       56    174     0
6       58    169     0
7       57    173     0
8       55    170     0

In [45]:
x=df[['SWEIGHT','S HIG']]

In [46]:
x

   SWEIGHT  S HIG
0       51    167
1       62    182
2       69    176
3       64    173
4       65    172
5       56    174
6       58    169
7       57    173
8       55    170

In [47]:
y=df[['TYPE']]

In [48]:
y

   TYPE
0     0
1     1
2     1
3     1
4     1
5     0
6     0
7     0
8     0

In [49]:
from sklearn.model_selection import train_test_split

In [50]:
x_train, x_test, y_train, y_test = train_test_split( x, y, test_size=0.33, random_state=42)

In [51]:
from sklearn.neighbors import KNeighborsClassifier

In [54]:
knn = KNeighborsClassifier()

In [56]:
knn.fit(x_train,y_train)

<ipython-input-56-17b0ab828d68>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn.fit(x_train,y_train)

KNeighborsClassifier()

In [57]:
pred = knn.predict(x_test)

In [58]:
knn.score(x_test,y_test)

1.0

In [60]:
knn.predict([[55,170]])

array([0], dtype=int64)