In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df = pd.read_csv("knn1.csv")

In [4]:
df

   SWEIGHT  S HIG  TYPE
0       51    167     0
1       62    182     1
2       69    176     1
3       64    173     1
4       65    172     1
5       56    174     0
6       58    169     0
7       57    173     0
8       55    170     0

In [5]:
df.head()

   SWEIGHT  S HIG  TYPE
0       51    167     0
1       62    182     1
2       69    176     1
3       64    173     1
4       65    172     1

In [6]:
df.tail()

   SWEIGHT  S HIG  TYPE
4       65    172     1
5       56    174     0
6       58    169     0
7       57    173     0
8       55    170     0

In [7]:
df.head(5)

   SWEIGHT  S HIG  TYPE
0       51    167     0
1       62    182     1
2       69    176     1
3       64    173     1
4       65    172     1

In [8]:
df.tail(5)

   SWEIGHT  S HIG  TYPE
4       65    172     1
5       56    174     0
6       58    169     0
7       57    173     0
8       55    170     0

In [9]:
df.shape

(9, 3)

In [10]:
df.isnull().sum()

SWEIGHT    0
S HIG      0
TYPE       0
dtype: int64

In [11]:
x=df[["SWEIGHT" , "S HIG"]]

In [12]:
x

   SWEIGHT  S HIG
0       51    167
1       62    182
2       69    176
3       64    173
4       65    172
5       56    174
6       58    169
7       57    173
8       55    170

In [13]:
y = df[["TYPE"]]

In [14]:
y

   TYPE
0     0
1     1
2     1
3     1
4     1
5     0
6     0
7     0
8     0

In [15]:
from sklearn.model_selection import train_test_split

In [16]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.33, random_state=42)

In [18]:
from sklearn.neighbors import KNeighborsClassifier

In [19]:
knn = KNeighborsClassifier()

In [20]:
knn.fit(x_train , y_train)

<ipython-input-20-9bdb3b2930b4>:1: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  knn.fit(x_train , y_train)

KNeighborsClassifier()

In [21]:
pred = knn.predict(x_test)

In [23]:
knn.score(x_test,y_test)

1.0

In [24]:
knn.predict([[55,170]])

array([0], dtype=int64)

In [25]:
knn.predict([[65,172]])

array([1], dtype=int64)